// Blog Common Style

.blog-index {
  padding: 8rem 0;
}

.blog-meta-data {
  margin-bottom: 12px;
}

.blog-meta-data,
.blog-meta-data a {
  color: var(--clr--grey);
  font-size: 12px;
}

// Blog Index Post Thumbnail Style

.blog-article-box {
  margin-bottom: 2rem;
  display: flex;
  border-radius: 10px;
  overflow: hidden;

  &:hover .blog-thumb-img {
    filter: brightness(100%);
  }

  .blog-thumb-img {
    margin-right: 1rem;
    filter: brightness(96%);
    transition: var(--transition);
  }

  .blog-post {
    display: flex;
    flex-direction: column;

    .blog-title {
      font-size: 1.25rem;
      margin-bottom: 10px;
    }

    .blog-title a {
      color: var(--clr--main-dark);
      transition: var(--transition);

      &:hover {
        color: var(--clr--point-lime);
      }
    }

    .blog-excerpt {
      color: var(--clr--main-light);

      p {
        display: inline-block;
      }

      .blog-read-more-btn {
        font-size: 14px;
        // background-color: var(--clr--point-lime);
        color: var(--clr--point-lime);
        // padding: 2px 4px;
        text-decoration: underline;
      }
    }
  }
}

// Pagination

nav.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  .nav-links {
    a {
      color: var(--clr--main-light);
      padding: 4px 8px;

      &:hover {
        color: var(--clr--point-lime);
      }
    }

    .page-numbers.current {
      color: var(--clr--point-lime);
      border: 1px solid var(--clr--point-lime);
      padding: 4px 8px;
      border-radius: 6px;
    }
  }
}

// Blog Article

.blog-article-wrapper {
  max-width: 680px;
  min-width: 420px;
  margin: 0 auto;
}

.blog-article {
  h1 {
    color: var(--clr--main-dark);
    margin-bottom: 1rem;
  }

  .blog-meta-data {
    margin-bottom: 2rem;
  }

  .blog-content {
    color: var(--clr--main-light);
    margin-bottom: 6rem;
    text-align: justify;
  }

  .wp-block-image {
    text-align: center;
    margin: 1.5rem auto 1rem auto;
  }

  .wp-block-image img {
    max-width: 80%;
    height: 100%;
    object-fit: cover;
  }

  figcaption {
    font-size: 12px;
    color: var(--clr--grey);
  }
}

hr {
  border-color: var(--clr--border);
}

// Comments Style -- Comments

.comments-body {
  .comment {
    padding: 1rem;
    font-size: 14px;

    .avatar {
      border-radius: 50%;
      width: 36px;
      height: 36px;
    }

    .says {
      font-size: 12px;
    }

    .comment-meta {
      margin-bottom: 0.5rem;
    }

    .comment-meta a {
      font-size: 12px;
      color: var(--clr--grey);
    }

    .reply {
      margin-top: 0.5rem;
    }

    .reply a {
      color: var(--clr--point-lime);
      text-decoration: underline;
    }
  }
}

// Comments Style -- Comments Form

#comments {
  padding: 0;

  .comments-header {
    margin-bottom: 2rem;
  }

  .comments-inner {
    background-color: #eef2ff;
    border-radius: 10px;
    padding: 2rem;
    font-size: 14px;

    .comment-reply-title {
      margin-bottom: 1rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form p {
    margin-bottom: 1rem;
    color: var(--clr--main-dark);
    width: 100%;
  }

  input[type='text'],
  textarea {
    padding: 10px;
    // border: 1px solid var(--clr--border);
    border: none;
    border-radius: 4px;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
  }

  input[type='text']:focus,
  textarea:focus {
    border-color: var(--clr--point-lime);
  }

  input[type='submit'] {
    border: none;
    width: 100%;
    background-color: var(--clr--main-dark);
    color: var(--clr--white);
    padding: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--transition);

    &:hover {
      background-color: var(--clr--point-lime);
    }
  }

  textarea {
    resize: vertical;
  }

  label {
    font-size: 12px;
    display: block;
    margin-bottom: 4px;
  }
}

hr {
  border: 1px solid var(--clr--border);
  opacity: 0.25;
}

// Side Bar Style

.blog-side-bar {
  margin: 3rem 0;

  h2 {
    color: var(--clr--main-dark);
    font-size: 22px;
    margin-bottom: 10px;
  }

  .wp-block-search {
    margin-bottom: 2em;
  }

  .wp-block-search label {
    display: none;
  }

  input[type='search'] {
    border-color: var(--clr--border);
    padding: 10px;
    border-radius: 4px;
  }

  .wp-block-latest-posts li {
    a {
      color: var(--clr--main-light);
      transition: var(--transition);

      &:hover {
        color: var(--clr--main-dark);
      }
    }

    &::before {
      content: '📜 ';
    }
  }

  .wp-block-archives li {
    a {
      color: var(--clr--main-light);
      transition: var(--transition);

      &:hover {
        color: var(--clr--main-dark);
      }
    }

    &::before {
      content: '💾 ';
    }
  }

  .wp-block-latest-posts {
    margin-bottom: 2rem;
  }
}
