header {
  position: fixed;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: var(--clr--bg);
  transition: var(--transition);

  @media (max-width: $mobile) {
    height: 64px;

    .mobile-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}

nav {
  width: 100%;
  // padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  #logo {
    width: auto;
    height: 60px;

    @media (max-width: $mobile) {
      height: 48px;
    }
  }

  .links {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        margin: 0 1rem;
      }

      .nav-link {
        color: var(--clr--main-light);
        transition: var(--transition);

        &:hover {
          color: var(--clr--main-dark);
          font-weight: 700;
        }
      }
    }

    .mode-toggle-btn {
      width: 36px;
      margin-left: 10px;
      padding: 5px;
      cursor: pointer;
      background-color: #e4e4e4;
      border-radius: 50%;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
      transition: var(--transition);

      &:hover {
        background-color: #d8d7d7;
      }
    }

    //
    // Mobile Version Hamburger Menu
    //

    @media screen and (max-width: $mobile) {
      display: none;
      position: absolute;
      width: 100%;
      left: 0;
      top: 58px;
      z-index: inherit;
      background-color: var(--clr--bg);
      box-shadow: 0 10px 12px rgba(0, 0, 0, 0.05);

      &.mobile-show {
        display: flex;
      }

      ul {
        flex-direction: column;
        justify-content: center;
        width: 100%;

        li {
          margin: 0;
          padding: 40px 0;

          &:hover {
            background-color: var(--clr--white);
          }
        }

        .nav-link {
          font-size: 1rem;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

header.scrolled {
  background-color: #fff;
  box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
  height: 64px;
}

header.scrolled #logo {
  height: 48px;
}

// mobile version nav bar (hamburger menu)
.hamburger {
  display: none;
  position: relative;
  padding: 1rem 0;
  width: 25px;
  height: 12px;
  box-sizing: content-box;
  cursor: pointer;

  .bar {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--clr--main-light);
    border-radius: 3px;

    &:first-child {
      top: 1rem;
      transition: top 0.2s 0.15s, transform 0.3s;
    }

    &:last-child {
      bottom: 1rem;
      transition: bottom 0.2s 0.15s, transform 0.3s;
    }
  }

  @media screen and (max-width: $mobile) {
    display: block;

    .bar {
      right: 10px;
    }
  }
}

body.open .hamburger .bar:first-child {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transition: top 0.2s, transform 0.3s 0.1s;
}

body.open .hamburger .bar:last-child {
  bottom: 50%;
  transform: translateY(50%) rotate(45deg);
  transition: bottom 0.2s, transform 0.3s 0.1s;
}

// dark mode style

body.dark .mode-toggle-btn:hover {
  filter: brightness(120%);
}

body.dark .nav-link:hover::after,
body.dark .nav-link.active::after {
  opacity: 0.6;
}
