:root {
  --clr--white: #fff;
  --clr--bg: #f4f7fb;
  --clr--main-dark: #161e34;
  --clr--main-light: #6978a0;
  --clr--border: #c4c4c4;
  --clr--grey: #a7a7a7;
  --clr--bg-grey: #e7e7e7;
  --clr--point-lime: #35c635;
  --clr--point-orange: #f5b452;
  --clr--table-bg: #f1f1f1;

  --border-radius: 10px;
  --transition: 200ms;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Responsive BreakPoints (feat: bootstrap)

$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
